.clients {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  
  .clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
  
    color: #afb1b8;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .clients__link:hover,
  .clients__link:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
  
  .clients__name {
    fill: currentColor;
  }