.features {
  align-items: baseline;
  justify-content: center;
  gap: 30px;

  @media screen and (min-width: 480px) and (max-width: 1199.98px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.features__item {
  width: 100%;
  margin-bottom: 30px;

  @media screen and (min-width: 480px) and (max-width: 1199.98px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.features__img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}

.features__text {
  line-height: 1.71;
  color: var(--description-color);
}
