.portfolio {
  flex-wrap: wrap;
  display: flex;
  list-style: none;
}

.portfolio--parameters {
  margin: 0px;
  padding: 0px;
  gap: 30px;
}

.portfolio__work:hover,
.portfolio__work:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__work:nth-child(3n) {
  margin-right: 0px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__work:nth-last-child(-n + 3) {
  margin-bottom: 0px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__examples {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio__work-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);

  margin-bottom: 4px;
}

.portfolio__work-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--description-color);
}

.portfolio__work--wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay-box {
  position: absolute;
  bottom: 0;
  left: 0;

  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .portfolio__work--wrapper:hover & {
    transform: translateY(0%);
  }
}

.portfolio__overlay-text {
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
