.products__examples {
    justify-content: center;
    margin: 0px;
    padding: 0px;
  }
  
  .products .products__item:not(:last-child) {
    margin-right: 30px;
  }
  
  .products__wrapper {
    position: relative;
  }
  
  .products__overlay-box {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 27px 0px;
    text-align: center;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
  }
  
  .products__overlay-text {
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
  }