html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --main-color: #212121;
  --second-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --description-color: #757575;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.line {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  display: flex;
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  align-items: center;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.first-part {
  color: var(--accent-color);
  align-items: center;
}

.last-part {
  color: black;
  align-items: center;
}

.link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  display: flex;
  list-style: none;
   padding-left: 0;
  margin: 0;
}

.header-nav {
  display: flex;
  margin-right: auto;
}

.nav-list {
  display: flex;
  padding-left: 0px;
}

.header-nav-item {
  display: block;
  position: relative;
   margin-right: 50px;
  padding: 32px 0;
}

.header-nav-item.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);}

.header-nav-item:last-child {
  margin-right: 0px;
}


.header-contacts {
  display: inline-flex;
  align-items: center;
  }

.header-mail-link,
.header-tel-link {
  display: inline-flex;
  justify-content: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
   color: var(--description-color);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.header-mail-link {
  margin-right: 50px;
}


.header-mail-icon,
.header-tel-icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header-tel-icon:hover,
.header-tel-icon:focus {
  fill: var(--accent-color);
} 

.header-mail-icon:hover,
.header-mail-icon:focus {
  fill: var(--accent-color);
} 


.header-nav-link {
  display: block;
   font-weight: 500;
  line-height: 1.33;
    letter-spacing: 0.02em;
  color: var(--main-color);
  }

.header-nav-link.ref-color {
  color: var(--accent-color);
}

.hero-sec {
  
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color:#C4C4C4; 
  background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../img/Img-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
}
  
.hero {
  margin-bottom: 30px;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--accent-color);
  margin-left: auto;
  margin-right: auto;
  width: 216px;
  height: 50px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
 

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--white-color);
  background: #188ce8;
}

.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.character {
  padding-bottom: 0px;
}

.character-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #F5F4FA;
border-radius: 4px;

}

.specifics {
  margin: 0px;
  padding: 0px;
}

.specifics-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}

.specifics-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

.specifics .item:not(:last-child) {
  margin-right: 30px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--main-color);
  margin-bottom: 50px;
}

.work {
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.work .item:not(:last-child) {
  margin-right: 30px;
}

.wrapper {
  position: relative;
}

.overlay-box {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 27px 0px;
  text-align: center;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  
}

.overlay-text {
font-weight: 700;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--white-color);
}

.item-box {
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-section-back {
  background: #f5f4fa;
}

.team-sec {
  padding: 30px 0px;
  text-align: center;
}


.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-color);
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.18;
  color: var(--description-color);
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
   
}


.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  color: #AFB1B8;
  border-radius: 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
   color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.socials-link:hover,
.socials-link:focus {
  background: var(--accent-color);
  color: var(--white-color);
}

.socials-icon {
  fill: currentColor;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
   border: 1px solid #AFB1B8;
  border-radius: 4px;

  color: #AFB1B8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.clients-link:hover,
.clients-link:focus {
        border-color: var(--accent-color);
        color: var(--accent-color);
  }

  .clients-box {
    fill: currentColor;
  }

.footer-title {
  display: flex;
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
 
  }

  .footer-container {
    display: flex;
    align-items: baseline;
    gap: 70px;
  }

.logo-footer {
  display: flex;
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  align-items: center;
}

.footer-last-part {
  color: #ffffff;
}

.footer-title-adr {
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 0px;
}

.footer-li {
  margin-bottom: 9px;
}

.footer-list {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer-adress {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail-link,
.footer-tel-link {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-socials-name {
  color: var(--white-color);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}


.socials-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: var(--white-color);
    fill: var(--white-color);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .socials-link-footer:hover,
.socials-link-footer:focus {
  background: var(--accent-color);
   }

   .footer-form
   {
    display: flex;
   }

   .footer-input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    background-color: #2F303A;
    margin-right: 12px;

    border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
border-color: var(--accent-color);

   }

   .footer-btn-sub {
display: flex;

    width: 200px;
    height: 50px;
    padding-left: 28px;
    align-items: center;
    text-align: center;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border-color: var(--accent-color);
   }

   .footer-subscribe
   {font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    margin-right: 10px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
        color: var(--white-color);
 
   }

   .footer-subscribe-icon {
    fill: var(--white-color);
  
   }


.btn-center {
  justify-content: center;

  margin: 0px 0px 50px 0px;
  padding: 0px;
}

.btn-width:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--main-color);
  cursor: pointer;

  padding: 6px 22px;
  border: 0px;

  
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-name {
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  gap: 30px;
}
.portfolio-work:hover,
.portfolio-work:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-work:nth-child(3n) {
  margin-right: 0px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-work:nth-last-child(-n + 3) {
  margin-bottom: 0px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-examples {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.work-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);

  margin-bottom: 4px;
}

.work-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--description-color);
}

.wrapper-portfolio {
  position: relative;
  overflow: hidden;
}

.overlay-box-portfolio {
  position: absolute;
  bottom: 0;
  left: 0;
 
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper-portfolio:hover .overlay-box-portfolio {
transform: translateY(0%);
}

.overlay-text-portfolio {
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
   letter-spacing: 0.03em;
color: var(--white-color);
}

/* MODAL */

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visability 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

}

.modal {
    position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translateX(-50%) translateY(-50%);
  width: 528px;
  height: 581px;
background-color: var(--white-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;

transition: transfort 300ms ease-out;

}
.backdrop.is-hidden .modal {
  transform: translateX(-50%) translateY(-70%);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0px;
background-color: transparent;
border-radius: 50px;
border: 1px solid rgba(0, 0, 0, 0.1);
 
  background-color: var(--white-color);
  
  cursor: pointer;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  display: block;
  
}

.form-label {
    margin-bottom: 4px;
  font-weight: 400;
font-size: 12px;
line-height: 1.16;

letter-spacing: 0.01em;

color: var(--description-color);
}

.form-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
}

.form-message {
  resize: none;
  width: 448px;
  height: 120px;
}

.form-license {
  color: var(--description-color);
}

.form-license-text {
  text-decoration: underline;
}


.form-btn {
  font-style: normal;
font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  background: var(--accent-color);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}



